<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <title>Blog</title>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!--<link rel="stylesheet" href="style/styleCss.css"/>-->
</head>
<body>

<header>
    <nav class="navbar navbar-light bg-light">
        <span class="navbar-brand mb-0 h1" style="font-weight: bold;">IEAD</span>
        <div class="ml-auto">
            <a href="/novoevento" class="btn btn-primary" role="button">Novo Evento</a>
            <a href="/eventos" class="btn btn-secondary" role="button">Eventos</a>
        </div>
    </nav>
</header>

<section>
    <div class="container"  style="width: 60%; padding-bottom: 30px;">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb" style="background-color: white; padding-left: 0px;">
                <li class="breadcrumb-item " aria-current="page"><a href="/">Inicio</a></li>
                <li class="breadcrumb-item " aria-current="page"><a href="/eventos">Eventos</a></li>
                <li class="breadcrumb-item active" aria-current="page">Detalhe do evento</li>
            </ol>
        </nav>

        <article>
            <h1 class="card-title" style="font-weight: bold; margin-bottom: 20px;"><span th:text="${evento.classificacao}"></span></h1>
            <p class="card-subtitle mb-2 text-muted">
                <i class="material-icons">person_outline</i>
                <span th:text="${evento.nomeColaborador}"></span>
                <br>
                <i class="material-icons">date_range</i>
                <span th:text="${evento.data}"></span>
            </p>
            <p><strong>Crachá:</strong> <span th:text="${evento.cracha}"></span></p>
            <p><strong>Evento Relacionado ao PAC:</strong> <span th:text="${evento.eventRelacPac}"/></p>
            <p><strong>Hora:</strong> <span th:text="${evento.hora}"></span></p>
            <p><strong>Data:</strong> <span th:text="${evento.data}"></span></p>
            <p><strong>Turno:</strong> <span th:text="${evento.turno}"></span></p>
            <p><strong>Setor de Ocorrência:</strong> <span th:text="${evento.setorOcorrencia}"></span></p>
            <p><strong>Setor Notificante:</strong> <span th:text="${evento.setorNotificante}"></span></p>
            <p><strong>Classificação:</strong> <span th:text="${evento.classificacao}"></span></p>
            <section>
                <p class="card-text" style="margin-top: 40px;"><span th:utext="${evento.descricaoEvento}"></span></p>
            </section>
            <section>
                <p class="card-text" style="margin-top: 40px;"><strong>Ação Imediata:</strong> <span th:utext="${evento.acaoImediata}"></span></p>
            </section>
        </article>

            <form th:action="@{'/eventos/' + ${evento.id} + '/update'}" method="post" style="padding-top: 20px">
            <div class="form-row align-items-center">
                <div class="col-auto my-1">

                    <select class="custom-select mr-sm-2" id="inlineFormCustomSelect" name="resolvido">
                        <option value="Não Verificado" th:selected="${evento.resolvido == 'Não Verificado'}">Não Verificado</option>
                        <option value="Verificado" th:selected="${evento.resolvido == 'Verificado'}">Verificado</option>
                        <option value="Em Andamento" th:selected="${evento.resolvido == 'Em Andamento'}">Em Andamento</option>
                    </select>
                </div>
                <div class="col-auto my-1">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </form>




    </div>
</section>
</body>
</html>