<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <title>Novo Evento</title>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!--<link rel="stylesheet" href="style/styleCss.css"/>-->

<script>
    // Função genérica para buscar dados e preencher uma lista
    function preencherLista(endpoint, selectId, optionValueKey, optionTextKey) {
        // Fazer a requisição HTTP para o endpoint fornecido
        fetch(endpoint)
            .then(response => response.json())
            .then(data => {
                const select = document.getElementById(selectId);

                // Limpar a lista atual, caso haja alguma opção
                select.innerHTML = '';

                // Adicionar a opção vazia
                const emptyOption = document.createElement('option');
                emptyOption.value = '';
                emptyOption.textContent = 'Selecione um setor';
                select.appendChild(emptyOption);

                // Iterar sobre os dados e criar as opções para a lista
                data.forEach(item => {
                    const option = document.createElement('option');
                    option.value = item[optionValueKey];
                    option.textContent = item[optionTextKey];
                    select.appendChild(option);
                });

                // Definir a opção vazia como selecionada
                select.value = '';
            })
            .catch(error => console.error('Erro ao buscar os dados:', error));
    }

    // Chamar a função de preenchimento das listas quando a página carregar
    document.addEventListener('DOMContentLoaded', function() {
        preencherLista('/setores', 'setorOcorrencia', 'setor', 'setor');
        preencherLista('/setores', 'setorNotificante', 'setor', 'setor');
    });
</script>

</head>
<body>

<header>
    <nav class="navbar navbar-dark bg-dark">
        <a href="/"><span class="navbar-brand mb-0 h1" style="font-weight: bold;" th:text="${config.nomeSite}">HBPS</span></a>
        <div class="ml-auto">
            <a href="/novoevento" class="btn btn-primary" role="button">Novo Evento</a>
            <a href="/eventos" class="btn btn-secondary" role="button">Eventos</a>
            <a href="/config" class="btn btn-secondary" role="button">Configurações</a>
        </div>
    </nav>
</header>

<section>
    <div class="container" style="width: 60%; padding-bottom: 30px;">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb" style="background-color: white; padding-left: 0px;">
                <li class="breadcrumb-item " aria-current="page"><a href="/">Inicio</a></li>
                <li class="breadcrumb-item active" aria-current="page">Novo Evento</li>
            </ol>
        </nav>


        <duv>
            <form method="post">
                <div class="form-group">
                    <input type="text" class="form-control" name="nomeColaborador" placeholder="Nome do Colaborador:">
                </div>

                <div class="form-group">
                    <input type="text" class="form-control" name="cracha" placeholder="Crachá (Somente numeros):" pattern="[0-9]+" title="Por favor, insira apenas números.">
                </div>


                <div class="row" style="padding-top: 20">
                    <div class="col">
                        <legend class="col-form-label pt-0 nowrap">Relacionado ao paciente ?</legend>
                    </div>
                    <div class="col">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="eventRelacPac" id="eventRelacPac" value="SIM">
                            <label class="form-check-label" for="eventRelacPac">Sim</label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="eventRelacPac" id="eventRelacPac2" value="NÃO" checked >
                            <label class="form-check-label" for="eventRelacPac2">Não</label>
                        </div>
                    </div>
                </div>

                <div id="camposRelacionados">
                    <div class="form-group">
                        <label for="nomePaciente">Nome do Paciente</label>
                        <input type="text" class="form-control" id="nomePaciente" name="nomePaciente" disabled>
                    </div>
                    <div class="form-group">
                        <label for="numeroAtendimento">Número do Atendimento</label>
                        <input type="text" class="form-control" id="numeroAtendimento" name="numeroAtendimento" disabled>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for="hora">Hora do ocorrido:</label>
                            <input type="time" class="form-control" id="hora" name="hora" required>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label for="data">Data do ocorrido:</label>
                            <input type="date" class="form-control" id="data" name="data" required>
                        </div>
                    </div>
                </div>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="turno">Turno</label>
                    </div>
                    <select class="custom-select" id="turno" name="turno" required>
                        <option disabled selected></option>
                        <option value="Diurno">Diurno</option>
                        <option value="Noturno">Noturno</option>
                    </select>
                </div>

                <!-- Componente Setor da Ocorrência -->
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="setorOcorrencia">Setor da Ocorrência</label>
                    </div>
                    <select class="custom-select" id="setorOcorrencia" name="setorOcorrencia.setor" required>
                       <!-- Os dados serão preenchidos dinamicamente aqui -->
                    </select>
                </div>

                <!-- Componente Setor do Notificante -->
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="setorNotificante">Setor do Notificante</label>
                    </div>
                    <select class="custom-select" id="setorNotificante" name="setorNotificante.setor" required>
                        <!-- Os dados serão preenchidos dinamicamente aqui -->
                    </select>
                </div>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="classificacao">Classificação</label>
                    </div>
                    <select class="custom-select" id="classificacao" name="classificacao" required>
                        <option selected></option>
                        <option value="Condição Insegura">Condição Insegura</option>
                        <option value="Near Miss ou Quase Falha">Near Miss ou Quase Falha</option>
                        <option value="Dano Leve">Dano Leve</option>
                        <option value="Dano Moderado">Dano Moderado</option>
                        <option value="Dano Grave">Dano Grave</option>
                        <option value="Sentinela">Sentinela </option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="descricaoEvento">Descrição do Evento</label>
                    <textarea class="form-control" id="descricaoEvento" placeholder="Descreva detalhadamente o evento:" name="descricaoEvento" rows="3" required></textarea>
                </div>

                <div class="form-group">
                    <label for="acaoImediata">Ação imediata</label>
                    <textarea class="form-control" id="acaoImediata" placeholder="Digite a ação que você tomou ao presenciar o evento:" name="acaoImediata" rows="3" required></textarea>
                </div>

                <button type="submit" class="btn btn-primary" style="margin-top: 10px;">Enviar</button>
                <a href="/" class="btn btn-light" role="button" style="margin-top: 10px;">Cancelar</a>


            </form>
        </duv>


    </div>
</section>

<script>
        function toggleCamposRelacionados() {
        const eventRelacPac = document.getElementById('eventRelacPac');
        const nomePaciente = document.getElementById('nomePaciente');
        const numeroAtendimento = document.getElementById('numeroAtendimento');

        if (eventRelacPac.checked) {
            nomePaciente.disabled = false;
            numeroAtendimento.disabled = false;
        } else {
            nomePaciente.disabled = true;
            numeroAtendimento.disabled = true;
        }
    }

    toggleCamposRelacionados();

    document.getElementById('eventRelacPac').addEventListener('change', toggleCamposRelacionados);
    document.getElementById('eventRelacPac2').addEventListener('change', toggleCamposRelacionados);
</script>

</body>
</html>