<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <title>Eventos</title>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Papaparse -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/5.3.0/papaparse.min.js"></script>
    <!-- jsPDF -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.0/jspdf.umd.min.js"></script>
    <!-- Estilos do DataTables -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.0/css/dataTables.bootstrap5.min.css">

    <!-- Scripts do DataTables e dependências -->
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.11.0/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.0/js/dataTables.bootstrap5.min.js"></script>

    <script>
    // FILTROS DA TABELA
  $(document).ready(function() {
  $('#tabela-eventos').DataTable({

  });
});

$(document).ready(function() {
    $("#btnDownload").click(function() {
      $.get("/eventosJs", function(data) {
        const csv = Papa.unparse(data, {
          delimiter: ";", // Defina o delimitador para ponto e vírgula
        });
        const blob = new Blob([csv], { type: "text/csv" });
        const url = URL.createObjectURL(blob);
        const a = document.createElement("a");
        a.href = url;
        a.download = "eventos.csv";
        document.body.appendChild(a);
        a.click();
        document.body.removeChild(a);
      });
    });
  });

</script>


</head>
<body>

<header>
    <nav class="navbar navbar-dark bg-dark">
        <a href="/"><span class="navbar-brand mb-0 h1" style="font-weight: bold;" th:text="${config.nomeSite}">HBPS</span></a>
        <div class="ml-auto">
            <a href="/novoevento" class="btn btn-primary" role="button">Novo Evento</a>
            <a href="/eventos" class="btn btn-secondary" role="button">Eventos</a>
            <a href="/config" class="btn btn-secondary" role="button">Configurações</a>
        </div>
    </nav>

    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" href="/eventos">Eventos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/gerenciar">Gerenciar</a>
        </li>
    </ul>

</header>

<section>
    <div class="container"  style="width: 90%; padding-bottom: 30px;">

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb" style="background-color: white; padding-left: 0px;">
                <li class="breadcrumb-item " aria-current="page"><a href="/">Inicio</a></li>
                <li class="breadcrumb-item active" aria-current="page">Eventos</li>
            </ol>
        </nav>
        <!-- Botão para baixar CSV -->
        <button id="btnDownload" class="btn btn-primary">Baixar Planilha CSV</button>

        <div class="table-responsive" STYLE="margin-top: 20px;">
            <table id="tabela-eventos" class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th></th>
                    <th>Código</th>
                    <th>Status</th>
                    <th>Setor de Ocorrência</th>
                    <th>Data</th>
                    <th>Classificação</th>
                    <th>Descrição do Evento</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="evento : ${eventos}">
                    <td>
                        <a></a>
                    </td>
                    <td>
                        <a th:href="@{~/eventos/{id}(id=${evento.id})}" th:text="${evento.id}" style="color: black;"></a>
                    </td>
                    <td>
                        <a th:href="@{~/eventos/{id}(id=${evento.id})}" th:text="${evento.resolvido}" th:class="${evento.resolvido == 'Verificado'} ? 'text-success' : (${evento.resolvido == 'Não Verificado'} ? 'text-danger' : 'text-warning')"></a>
                    </td>
                    <td>
                        <a th:href="@{~/eventos/{id}(id=${evento.id})}" th:text="${evento?.setorOcorrencia?.setor?: ''}"  style="color: black;"></a>
                    </td>
                    <td>
                        <span th:text="${evento.data}"></span>
                    </td>
                    <td>
                        <a th:href="@{~/eventos/{id}(id=${evento.id})}" class="text-decoration-none" th:text="${evento.classificacao}" style="color: black;"></a>
                    </td>
                    <td>
                        Evn#<a th:text="${evento.id}"></a>-<span th:utext="${#strings.abbreviate(evento.descricaoEvento, 200)}"></span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>
</section>
</body>
</html>