<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
  <title>Inicio</title>
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <!--<link rel="stylesheet" href="style/styleCss.css"/>-->

  <!-- Chart.js -->
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>

<header>
  <nav class="navbar navbar-light bg-light">
    <span class="navbar-brand mb-0 h1" style="font-weight: bold;">HBPS</span>
    <div class="ml-auto">
      <a href="/novoevento" class="btn btn-primary" role="button">Novo Evento</a>
      <a href="/eventos" class="btn btn-secondary" role="button">Eventos</a>
    </div>
  </nav>
</header>

</body>
</html>