<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <title>Cadastro usuario</title>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!--<link rel="stylesheet" href="style/styleCss.css"/>-->


    <script>

        // Função genérica para buscar dados e preencher uma lista
    function preencherLista(endpoint, selectId, optionValueKey, optionTextKey) {
        // Fazer a requisição HTTP para o endpoint fornecido
        fetch(endpoint)
            .then(response => response.json())
            .then(data => {
                const select = document.getElementById(selectId);

                // Limpar a lista atual, caso haja alguma opção
                select.innerHTML = '';

                // Adicionar a opção vazia
                const emptyOption = document.createElement('option');
                emptyOption.value = '';
                emptyOption.textContent = 'Selecione';
                select.appendChild(emptyOption);

                // Iterar sobre os dados e criar as opções para a lista
                data.forEach(item => {
                    const option = document.createElement('option');
                    option.value = item[optionValueKey];
                    option.textContent = item[optionTextKey];
                    select.appendChild(option);
                });

                // Definir a opção vazia como selecionada
                select.value = '';
            })
            .catch(error => console.error('Erro ao buscar os dados:', error));
    }

    // Chamar a função de preenchimento das listas quando a página carregar
    document.addEventListener('DOMContentLoaded', function() {
        preencherLista('/roles', 'roles', 'roleName', 'roleName');
});
    </script>

</head>
<body>

<header>
    <nav class="navbar navbar-dark bg-dark">
        <a href="/"><span class="navbar-brand mb-0 h1" style="font-weight: bold;" th:text="${config.nomeSite}">HBPS</span></a>
        <div class="ml-auto">
            <a href="/novoevento" class="btn btn-primary" role="button">Novo Evento</a>
            <a href="/eventos" class="btn btn-secondary" role="button">Eventos</a>
            <a href="/config" class="btn btn-secondary" role="button">Configurações</a>
        </div>
    </nav>
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" href="/config">Configurações</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="/usuarios">Usuarios</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " href="/setoresConfig">Setores</a>
        </li>
    </ul>
</header>

<section>

    <div class="container" style="padding-top: 35px;">
        <form action="/usuarios" method="post">
            <div class="form-group">
                <input type="text" class="form-control" name="username" placeholder="Username" required>
            </div>
            <div class="form-group">
                <input type="password" class="form-control" name="password" placeholder="Senha" required>
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="roles">Perfil</label>
                </div>
                <select class="custom-select" id="roles" name="roleModel.roleName" required>
                    <!-- Os dados serão preenchidos dinamicamente aqui -->
                </select>
            </div>

            <button type="submit" class="btn btn-primary" style="margin-top: 10px;">Cadastrar</button>
            <a href="/" class="btn btn-light" role="button" style="margin-top: 10px;">Cancelar</a>
        </form>
    </div>


    </div>
</section>

</body>
</html>